@import url('https://fonts.googleapis.com/css?family=Roboto:100,400');

html,body{
	height: 100%
}

body{
	background-size: auto 100%;
	margin: 0px;
	background-color: #fff;
}

.search {
	position: relative;
}

.table{
	border-bottom: #FF7733 !important;
}

.search input { 
	text-indent: 30px;
}

#trafficLogo{
	width: 10%;
	float:left;
}

.search .fa-search { 
  position: absolute;
  top: 24px;
  left: 7px;
  font-size: 15px;
}

.fa-search{
    color:#FF7733;
    padding: 1px;
 }

.trafficheader{
	background-color: #FF7733;
	border-color: #FF7733;
	color:#fff;
	width: 100% !important;
	height: 75px;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	text-align: center;
}

#logOutButton{
	float: right;
	vertical-align: center;
	padding:30px;
}

#logOutButton:hover{
	cursor:pointer;
}

#searchBarDiv{
	position: absolute;
	left:1000px;
	margin: 25px;
	display: inline-block;
	width: 150px;
	height: 30px;
	background-color:#ffffff;
	box-shadow: 1px 1px 3px #9e471c;
}

.fa-search{
	color:#FF7733;
	padding: 6px;
}

#searchbar{
	border: 0px;
	height:30px;
	float:left;
	width: 125px;
	color: #FF7733;
}

.pageTitle{
	display:inline-block;
	text-align: center;
}

.contentDiv{
	text-align: center;
	padding:10px;
	height: 500px;
	background-color: #ffffff;
}

#inputContent{
	padding: 160px;
	font-size: 16px
}

.input-group{
	text-align: center;
	margin: 5px;
}

.form-control{
	border: none;
	width: 300px !important;
	display: block !important;
	margin: 0 auto !important;
	border-bottom: 1px solid #FF7733;
	border-radius: 0px;
	clear: both !important;
	margin-bottom: 10px !important;
}

#error-text{
	color: #f30;
	font-weight: bold;
}

#txtLogo{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width:30%;
}

#loginContainer{
	float:left;
	font-family: 'Open Sans', sans-serif;
	width:40%;
	text-align:center;
	padding-left: 30px;
	height:100%;
}

#loginInputContainer{
	text-align: center;
	padding-top: 250px;
}

#logIn{
	text-align: center;
	margin-top: 30px;
	background-color: #FF7733;
	border:1px solid #FF7733;
	width: 220px;
	color: #fff;
	height:40px;
}

#divLogin{
	width: 500px;
	padding-top:250px;
	display: block;
	margin: auto;
}

#loginPageContainer{
	width: 100%;
	height: 100%;
}

#welcomeLogIn{
	text-align: center;
	float:left;
	width:60%;
	height: 100%;
	background-color: #FF7733;
}

#loginWelcome{
	position: relative;
	top: -25px;
	font-size: 40px;
	color: #FF7733;
}

.white{
	color:#fff;
}

#welcomeP{
	width:500px;
	font-size: 26px;
	font-weight: 500;
	color: #ffffff;
	margin-bottom: 0px;
}

#trafficTable{
	text-align: left;
}