<div id="loginPageContainer" class="centered" ng-controller="login">
	<!-- Web Intro -->
	<div id="welcomeLogIn">

		<div id="divLogin">
			<img id="txtLogo" src="../images/xlogo-resized.png"/>
			<p id="welcomeP">Foot traffic for the Cube</p>
		</div>

	</div>
	<!-- Login Section -->
	<div id="loginContainer">
		<div id="loginInputContainer">
			<!-- Login Title -->
			<h2 id="loginWelcome">Welcome</h2>
			<!-- Login Input FIelds -->
			<div>
				<input type="text" class="form-control" name="username" id="username"  placeholder="Username"/>
			</div>
			<div>
				<input type="password" class="form-control" name="password" id="password"  placeholder="Password"/>
			</div>
			<!-- Login Button -->
			<button id="logIn" class="hvr-grow">Log In</button>
			<br/><br/>
			<div>
				<span id="error-text"></span>
			</div>
		</div>
	</div>
</div>