<div id="loginPageContainer" class="centered" ng-controller="login">
	<!-- Web Intro -->
	<div id="welcomeLogIn">

		<div id="divLogin">
			<img id="txtLogo" src="../images/Group.png"/>
			<p id="welcomeP">Foot traffic for the Cube</p>
		</div>

	</div>
	<!-- Login Section -->
	<div id="loginContainer">
		<div id="loginInputContainer">
			<label id="loginWelcome">Welcome</label>
					<div class="input-group">
						<input type="text" class="form-control" name="username" id="username"  placeholder="Username"/>
					</div>
					<div class="input-group">
						<input type="password" class="form-control" name="password" id="password"  placeholder="Password"/>
					</div>
			<button id="logIn">Log In</button>
		</div>
	</div>
</div>