<div ng-controller="trafficHistory">
	<header id="trafficheader">
		<!-- Searchbar -->
		<div id="searchBarDiv">
			<i id="searchIcon" class="fa fa-search" aria-hidden="true"></i>
			<input ng-model="searchLogs" id="searchbar" type="text">
		</div>
		<!-- logOut button-->
		<span id="logOutButton" ui-sref="login" class="hvr-grow">Log Out</span>
		<!-- TxT Logo -->
		<img id="trafficLogo" src="../images/Group.png"/>

	</header>
	<div class="container">
		<section id=trafficTable>
			<table class="table table-hover">
				<thead>
					<tr>
					<th>Name</th>
					<th>Traffic Query</th>
					<th>Date</th>
					<th>Time</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="user in users | filter:searchLogs"">
					<td>{{user.name}}</td>
					<td>{{user.traffic}}</td>
					<td>{{user.date}}</td>
					<td>{{user.time}}</td>
					</tr>
				</tbody>
			</table>
		</section>
	</div>
</div>